---
import Section from "../Section.astro"

import { skills } from "@cv"
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
  }

  li {
    border-radius: var(--radius-sm);
    background: var(--color-text);
    color: var(--color-background);
    font-size: var(--font-size-md);
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
